*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main{
  margin-top: 20px;
}

.riga .container{
  background-color: pink;
  text-align: center;
  height:100px;
  line-height: 100px;
}

[class*="col-"]{
  border: solid 1px;
}

#special [class*="col-"]{
  border: 0;
}

.different{
  border: solid 1px white;
  background-color: #f28ac0;
  margin: 2px;
}

#special>.riga>.container>.col-6{
  border:solid 1px;
  border-top: 0;
}
